version: "3.8"

services:
  frontend:
    build: ./frontend
    container_name: frontend_c
    ports:
      - "3000:3000"
    depends_on:
      - backend

  mongodb:
    image: mongo:7.0
    container_name: mongodb_c
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: mediconnect
    volumes:
      - mongodb_data:/data/db

  backend:
    build: ./backend
    container_name: backend_c
    restart: always
    ports:
      - "5000:5000"
    environment:
      MONGO_URI: mongodb://mongodb:27017/mediconnect
      JWT_SECRET: your-super-secret-jwt-key-change-in-production
    depends_on:
      - mongodb

volumes:
  mongodb_data: